<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1>Chats HTTP</h1>
  <p>
    <a href={{"/"+prec|string}}> <- {{prec}} </a>
    <a href={{url}}><img src={{url}} alt="{{'Image à l\'adresse ' + url}}"/></a>
    <a href={{"/"+suiv|string}}> {{suiv}} -> </a>
  </p>

  <p>
    <a href="/random">Aléatoire</a>
  </p>
  {% for code in codes %}
        <a href="{{'/' + code|string}}">{{ code }}</a>
  {% endfor %}
</body>

</html>